

/*- Header -*/
.social-media {
    font-size: 25px;
}

/*- Logo -*/
i.fa-solid.fa-book-open {
    color: #b3b3b3;
}

/*- Nav Bar -*/
nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: 30px;
    justify-content: center;
}

div#navbarNav {
    justify-content: center;
}

ul.navbar-nav {
    border: 0.8px solid;
    box-shadow: 5px 10px;
}

li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.8px solid;
}
.navbar-light .navbar-nav .nav-link {
    color: black!important;
}

/*- All books section -*/

div#books {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.all-books {
    cursor: pointer;
    margin-right: 1rem;
}

/*- All books card content -*/
p.card-text {
    font-size: 14px;
}

img.img-fluid.rounded-start {        
    margin-top: 45px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

/*- Features -*/
.col-md-4.order-first.order-md-last {
    background-color: #f7f7f7;
    padding: 20px;
}

img.card-img-top {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.card.features {
    margin-top: 20px;
}


/*- Media Queries -*/
@media (max-width:1200px) {
    h6.card-title {
        font-size: 0.9rem;
    }
    h7.card-title {
        font-size: 0.8rem;
    }
    span.card-text.d-block {
        font-size: 12px;
    }
    span.card-text {
        font-size: 12px;
    }

    p.card-text {
        font-size: 12px;
    }
    
}


@media (max-width: 992px){  
    div#books {
        display: grid;
        grid-template-columns: 1fr;
    }
    div.all-books {
        margin-left: auto;
        margin-right: auto;
    }
    img.img-fluid.rounded-start {        
        margin: 20px;
        width: 90%;
    }
    h6.card-title {
        font-size: 0.8rem;
    }
    h7.card-title {
        font-size: 0.7rem;
    }
    span.card-text.d-block {
        font-size: 10px;
    }
    span.card-text {
        font-size: 10px;
    }

    p.card-text {
        font-size: 11px;
    }
}
