

/*- Nav Bar -*/
nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: 30px;
    justify-content: center;
}

div#navbarNav {
    justify-content: center;
}

li.nav-item {
    margin-right: 10px;
    margin-left: 10px;
}